.top section{
    color:white;
    padding:100px;
    font-family: Raleway;
    font-size: 3em;
    font-weight: 900;
    line-height: 1.89;
    display:block;
}

.top section button{
    background-color: #48d97e;
    border-radius: 39px;
    color:white;
    text-decoration:none;
    padding:10px;
    font-weight: 600;
    font-family: Raleway,sans-serif;
    z-index: 2;
    width: fit-content;
    line-height: 2;

}
.region{
    width:25%;
    float:left;
    height:120px;
    background-color:#808080c4;
    line-height: 100.2px;
    border: 1px solid white;

}

.checker{
    float:left;
    width:100%;
}

.checker .region a{
    text-align:center;
    margin-left: 50%;
    text-decoration:none;
    font-weight:700;
    color:white;
    font-family:Raleway,sans-serif
}

.checker :hover{
    background-color:#808080;
    text-shadow: 2px 2px #GH00F9
}

.container.chk img{
    margin-left:10px;
    float: left;
    width: 432px;
    position:relative;

}
#detail{
     font-weight: 400;
    position: absolute;
    top: 40%;
    left: 28%;
    background-color: #6495ed38;
    border-radius: 6px;
    height: 61%;
    width: 20%;
}

#detail1{
    position: absolute;
    top: 0%;
    left: 52%;
    background-color: #6495ed38;
    border-radius: 6px;
    height: 61%;
    width: 20%;
}

.area{
     width: 31vw;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-top: -460px;
    left: 33%;
    font-weight: 700;
}